.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.huella {
  height: 6rem;
  width: auto;
}

.titulo {
  margin-left: 2%;
  font-size: 4rem;
  font-family: "handlee";
}

@media only screen and (max-width: 680px) {
  .header {
    justify-content: center;
    margin-top: 5%;
  }
  .huella {
    height: 4rem;
  }
  .titulo {
    font-size: 2rem;
  }
}